.contact
  background green
  padding 3rem 0
  h1
    heading()
    max-width 720px
    padding 0 30px
    margin 0 auto
    color #fff
    line-height 1.4
    margin-bottom 2rem
  button
    color white
    background transparent
    border 2px solid white
    font-size 1.1rem
    padding .4rem .7rem
    border-radius: 5px
    margin 0 auto
    display flex
    transition .33s ease-in
    cursor pointer
    &:hover
      background white
      color green

.logos
  padding 1rem
  ul
    display flex
    justify-content: space-around
    li
     padding 20px 0

.footer
  background blackish
  color white
  &-row
    margin 0 auto !important
    display flex
    padding 3rem 1rem
    justify-content: space-between
  &-column
    padding 0 15px
    font-size .9rem
    line-height: 1.4
    ul
      margin-top 1rem
      font-family 'Roboto Slab'
      li
        padding 5px 0
        img
          vertical-align: middle
          padding-right: .5rem
    &_tweets
      flex-grow 1.2