body
  padding-top 115px

.nav
  display flex
  height 115px
  align-items center
  justify-content space-between
  &-header
      background white
      z-index 100
      width calc(100% - 2rem)
      padding 0 2rem
      position fixed
      top 0
  &-list
    display flex
    justify-content space-around
    &-link
      color lightgray
      padding 0 1.5rem
      text-transform uppercase
      text-decoration none
      font-size .8rem
      font-weight bolder
      &:hover
        color blackish
