@import url('https://fonts.googleapis.com/css?family=Montserrat')
@require "reset.styl"
@require "variables.styl"

body
  font-family Montserrat, Verdana, sans-serif
  color blackish
  text-align: center