@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab')
@require "reset.styl"
@require "variables.styl"
@require "header.styl"
@require "hero.styl"

// general styles

body
  font-family Montserrat, Verdana, sans-serif
  color blackish

.container
  max-width 960px
  margin 0 auto